body{
    background-color: #2d2d2d;
}
.nav-item{
    margin: 10px;
}
nav{
    position: fixed;
}
h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #FCFCFC;
    font-size: 80px;
    display: inline-block;
}

span{
    color: #368DFF;
}
.name-title{
    margin-left: 103px;
    margin-top: 180px;
}
.github-icon{
    height: 75px;
    width: 75px;
    margin-left: 103px;
    margin-top: 65px;
}
.linkedin-icon{
    height: 75px;
    width: 75px;
    margin-top: 65px;
    margin-left: 60px;
}
.insta-icon{
    height: 75px;
    width: 75px;
    margin-top: 65px;
    margin-left: 60px;
}
.portfolioDP{
    height: 810px;
    width: 810px;
    margin-left: 300px;
    margin-top: 0px;
}
.name-and-logos{
    display: inline-block;
}
.skills-heading{
    margin-left: 122px;
    margin-top: 191px;
    margin-bottom: 119px;
}
p{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #FCFCFC;
    font-size: 34px;
    display: inline-block;  
    margin-left: 122px;
    display: inline-block;
}
.skills-container{
    margin-bottom: 120px;
    display: inline-block;
}
.skills-page-python{
    height: 300px;
    width: 300px;
    margin-top: -600px;
    margin-left: 165px;
}
.skills-page-html{
    height: 280px;
    width: 280px;
    margin-left: 180px;
    margin-top: -68px;
}
.projects-heading{
    margin-left: 122px;
    margin-top: 191px;
    margin-bottom: 77px;
}
.card{
    margin-left: 122px;
    margin-bottom: 150px;
    margin-right: 80px;
    width: 429px;
    height: 566px;
    background-color: #6A6A6A;
    
}
.card-text{
    font-size: 15px;
    margin-left: auto;
    color: rgb(226, 223, 223);
}
.card-img-top{
    height: 69%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover{
    background-color: rgb(87, 84, 83);
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    color: #368DFF;
}
.card:hover {
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
}

.car-img-top{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    margin-top: 90px;
    margin-bottom: 40px;
}
.contacts-heading{
    margin-left: 122px;
    margin-top: 191px;
    margin-bottom: 77px;
}
form{
    margin-bottom: 140px;
}
.btn submit{
    margin-left: 122px;
}
.text-box{
    background-color: gray;
    color: whitesmoke;
    border-radius: 20px;
    height: 40px;
}
.text-desc-box{
    background-color: gray;
    color: whitesmoke;
    border-radius: 20px;
}
.btn-submit{
    margin-left: 122px;
    box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 40px;
    width: 80px;
}
