body{
    background-color: #2D2D2D;
}
.nav-item{
    margin: 10px;
}
nav{
    position: fixed;
}
h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #FCFCFC;
    font-size: 80px;
    display: inline-block;
}

span{
    color: #368DFF;
}
.name-title{
    margin-left: 103px;
    margin-top: 180px;
}
.github-icon{
    height: 75px;
    width: 75px;
    margin-left: 103px;
    margin-top: 65px;
}
.linkedin-icon{
    height: 75px;
    width: 75px;
    margin-top: 65px;
    margin-left: 60px;
}
.insta-icon{
    height: 75px;
    width: 75px;
    margin-top: 65px;
    margin-left: 60px;
}
.portfolioDP{
    height: 810px;
    width: 810px;
    margin-left: 300px;
    margin-top: 0px;
}
.name-and-logos{
    display: inline-block;
}
.skills-heading{
    margin-left: 122px;
    margin-top: 191px;
    margin-bottom: 119px;
}
p{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #FCFCFC;
    font-size: 34px;
    display: inline-block;  
    margin-left: 122px;
    display: inline-block;
}
.skills-container{
    margin-bottom: 120px;
    display: inline-block;
}
.skills-page-python{
    height: 300px;
    width: 300px;
    margin-top: -600px;
    margin-left: 165px;
}
.skills-page-html{
    height: 280px;
    width: 280px;
    margin-left: 180px;
    margin-top: -68px;
}



